{{#each this}}
    <div class="country-card">
        <div class="country-card-container">
            <h1 class="country-card-title">{{name}}</h1>
            <img class="country-card-image" src="{{flag}}" alt="{{name}} flag" width="320">
            <ul class="country-card-text">
                <li class="country-card-item">Capital: <span class="country-card-capital">{{capital}}</span></li>
                <li class="country-card-item">Time Zone: {{#each timezones}}{{this}}{{/each}}</li>
                <li class="country-card-item lang">Language:
                    <ul class="languages-list">
                        {{#each languages}}
                            <li class="languages-list-item">{{this.name}}</li>
                        {{/each}}
                    </ul>
                </li>
                <li class="country-card-item">Population: {{population}} people</li>
                <li class="country-card-item curenci">Currenci: {{#each currencies}}{{this.name}} ( {{this.symbol}} ){{/each}}</li>
            </ul>
        </div>
    </div>
{{/each}}